@font-face {
  font-family: Impact;
  src: url(/fonts/impact.ttf);
}
@font-face {
  font-family: Akzidenz Regular;
  src: url(/fonts/Akzidenz-grotesk-regular.ttf);
}
@font-face {
  font-family: Akzidenz Bold;
  src: url(/fonts/Akzidenz-grotesk-bold.ttf);
}
* {
  margin: 0;
  padding: 0;
  font-size: Impact;
  color: #ebebeb;
}

.o-page-loader {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 0.5s;
  background: #2c3e50;
  z-index: 999;
}

.o-page-loader--content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.o-page-loader--spinner {
  width: 40px;
  height: 40px;
  background-color: white;
  margin: 20px auto;
  animation: rotate-plane 1.2s infinite ease-in-out;
  -webkit-animation: rotate-plane 1.2s infinite ease-in-out;
}

.o-page-loader--message {
  color: white;
  font-weight: bold;
  font-size: 18px;
  font-family: "Arial", sans-serif;
}

@-webkit-keyframes rotate-plane {
  0% {
    -webkit-transform: perspective(120px);
  }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
  }
}
@keyframes rotate-plane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
.header {
  text-align: center;
  height: 100vh;
  background-image: url(/img/header_back.jpg);
  background-size: 100vw 100vh;
}
.header__titel {
  font-size: 150px;
  margin: 0;
  padding-top: 15vh;
  background: none;
}
.header__description {
  width: 58vw;
  margin: 1.5vh auto;
  font-size: 19.5px;
  line-height: 35px;
}
.header__button {
  width: 28vw;
  height: 150px;
  border-radius: 100px;
  border: none;
  box-shadow: 11px 14px 0px rgba(26, 26, 26, 0.97) !important;
  cursor: pointer;
  font-family: Impact;
  font-size: 80px;
  text-transform: uppercase;
  margin: 30px;
  margin-top: 8.5vh;
}
.header__button:focus {
  outline: none;
}
.header__button .artiest {
  background: #453b7e;
}
.header__button .start {
  background: #1e6ea9;
}

.artiest {
  background-color: #453b7e;
}

.start {
  background-color: #1e6ea9;
}

h1 {
  font-family: Impact;
  font-weight: 100;
}

.carousel {
  height: 100vh;
  background: url(/img/carousel_back.jpg);
  background-size: 100vw 100vh;
  text-align: center;
  overflow: hidden;
}
.carousel > h2 {
  font-size: 75px;
  margin: 0;
  padding-top: 15vh;
  background: none;
  font-family: "Impact";
}

.owl-carousel .werk-card {
  background-color: #eaeaea;
  width: 60%;
  padding: 20px;
  border-radius: 60px;
}
.owl-carousel .werk-card > p {
  color: #141414;
  line-height: 25px;
  margin-top: 25px;
  padding-bottom: 25px;
}

.owl-item.right {
  justify-content: left;
}

.owl-item.left {
  position: absolute;
  left: 11vw;
}

.owl-item.center > div {
  transition: 0.7s;
  transform: scale(1.2);
  float: none;
  margin: 0 auto;
}

.owl-stage {
  height: 60vh !important;
  padding-top: 10vh;
}

.owl-nav [class*=owl-] {
  position: relative !important;
}

.owl-nav {
  display: grid !important;
  grid-template-columns: 1fr 1fr;
}
.owl-nav [class*=owl-] {
  background: none !important;
  font-size: 40px !important;
  color: black !important;
  position: absolute !important;
  top: 40%;
}
.owl-nav .owl-prev {
  left: 1vw;
}
.owl-nav .owl-next {
  right: 1vw;
}

.startRef {
  position: absolute;
  top: 2vw;
  right: 2vw;
  cursor: pointer;
}

#melody {
  height: 100vh;
  background: url(/img/melody_back.jpg);
  background-size: 100vw 100vh;
  display: table;
  width: 100vw;
}

.piano {
  display: flex;
  position: relative;
  margin-left: 4px;
}

.white-key {
  width: 195px;
  height: 300px;
  background-color: #FFF;
  border: 4px solid black;
  border-radius: 0 0 6px 6px;
  margin-left: -4px;
  outline: none;
  cursor: pointer;
}

.black-key {
  position: absolute;
  width: 80px;
  height: 180px;
  background: linear-gradient(black, #383838);
  border: 3px solid black;
  border-radius: 0 0 2px 2px;
  outline: none;
  cursor: pointer;
}

.b-1 {
  left: 150px;
}

.b-2 {
  left: 340px;
}

.b-3 {
  left: 725px;
}

.b-4 {
  left: 912px;
}

.b-5 {
  left: 1105px;
}

.b-6 {
  left: 1490px;
}

.b-7 {
  left: 1676px;
}

.piano-container {
  position: absolute;
  bottom: 0;
}

.melody__title {
  font-size: 110px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding-top: 8vh;
}

.melody_description {
  text-align: center;
  width: 53vw;
  margin: 0 auto;
  font-size: 21px;
  padding-top: 2vh;
}

.grayTop {
  width: 100vw;
  background-color: #2E2E2E;
  height: 10vh;
}

.backRef {
  position: absolute;
  left: 2vw;
  top: 2vw;
  cursor: pointer;
}

.timeline__holder {
  margin: 0 10%;
  margin-top: 2.5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.timeline__time {
  background-color: #453b7e;
  padding: 20px 40px;
  font-size: 30px;
  border-radius: 50px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.playbutton {
  display: flex;
  align-content: center;
  justify-items: center;
  width: 120px;
  height: 120px;
  background-color: #453b7e;
  border-radius: 50px;
}
.playbutton > .play-icon {
  align-self: center;
  margin: 0 auto;
  font-size: 55px;
}

#timelijn {
  overflow: visible;
  display: grid;
  grid-template-rows: repeat(17, 1fr);
  grid-template-columns: repeat(120, 50px);
  overflow-y: scroll;
  width: 50vw;
  height: 180px;
  border-right: 5px solid white;
  border-left: 5px solid white;
  gap: 5px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  white-space: nowrap;
  padding: 0 10px;
}
#timelijn::-webkit-scrollbar {
  display: none;
}
#timelijn .A2 {
  grid-row: 1/17;
  background-color: blue;
}
#timelijn .B4 {
  grid-row: 2/17;
  background-color: red;
}
#timelijn .C4 {
  grid-row: 3/17;
  background-color: orangered;
}
#timelijn .D4 {
  grid-row: 4/17;
  background-color: green;
}
#timelijn .E4 {
  grid-row: 5/17;
  background-color: pink;
}
#timelijn .F4 {
  grid-row: 6/17;
  background-color: white;
}
#timelijn .G4 {
  grid-row: 7/17;
  background-color: purple;
}
#timelijn .A5 {
  grid-row: 8/17;
  background-color: #33AFFF;
}
#timelijn .B5 {
  grid-row: 9/17;
  background-color: #DE0000;
}
#timelijn .C5 {
  grid-row: 10/17;
  background-color: #FF8F00;
}
#timelijn .D5 {
  grid-row: 11/17;
  background-color: #00FF13;
}
#timelijn .E5 {
  grid-row: 12/17;
  background-color: #FF6DBF;
}
#timelijn .F5 {
  grid-row: 13/17;
  background-color: #DEDEDE;
}
#timelijn .G5 {
  grid-row: 14/17;
  background-color: #FF00B9;
}
#timelijn .A6 {
  grid-row: 15/17;
  background-color: #7D33FF;
}
#timelijn .B6 {
  grid-row: 16/17;
  background-color: #B00000;
}
#timelijn .C6 {
  grid-row: 17/17;
  background-color: #C86100;
}

.tone {
  height: calc(180px / 17);
  width: 50px;
  border-radius: 5px;
}

.virtualRoom {
  height: 100vh;
  width: 100vw;
  background-image: url(/img/header_back.jpg);
  background-size: 100vw 100vh;
}

.video iframe,
.video object,
.video embed {
  position: absolute !important;
  top: 40px;
  left: 160px;
}

.backref {
  position: relative;
  z-index: 9999999px;
}

/*# sourceMappingURL=style.css.map */
