.carousel{
    height: 100vh;
    background: url(/img/carousel_back.jpg);
    background-size: 100vw 100vh;
    text-align: center;
    overflow: hidden;
    & > h2{
        font-size: 75px;
        margin: 0;
        padding-top: 15vh;
        background: none;
        font-family: 'Impact';
    }
}

.owl-carousel{
    & .werk-card{
        background-color: $cardgray;
        width: 60%;
        padding: 20px;
        border-radius: 60px;
        & > p{
            color: $cardblack;
            line-height: 25px;
            margin-top: 25px;
            padding-bottom: 25px;
        }
    }
}

.owl-item.right{
    justify-content: left;
}

.owl-item.left{
    position: absolute;
    left: 11vw;
}

.owl-item.center > div {
    transition: .7s;
    transform: scale(1.2);
    float: none;
    margin: 0 auto;
}

.owl-stage{
    height: 60vh!important;
    padding-top: 10vh;
}

.owl-nav{
    & [class*=owl-] {
        position: relative!important;
    }
}

.owl-nav {
    display: grid!important;
    grid-template-columns: 1fr 1fr;
    & [class*=owl-] {
        background: none!important;
        font-size: 40px!important;
        color: black!important;
        position: absolute!important;
        top: 40%;
    } & .owl-prev {
        left: 1vw;
    } & .owl-next{
        right: 1vw;
    }
}