.carousel{
    height: 100vh;
    background: url(/img/carousel_back.jpg);
    background-size: 100vw 100vh;
    text-align: center;
    & > h2{
        font-size: 75px;
        margin: 0;
        padding-top: 15vh;
        background: none;
        font-family: 'Impact';
    }
}