.carousel{
    height: 100vh;
    background: url(/img/carousel_back.jpg);
    background-size: 100vw 100vh;
    text-align: center;
    & > h2{
        font-size: 75px;
        margin: 0;
        padding-top: 15vh;
        background: none;
        font-family: 'Impact';
    }
}

.owl-carousel{
    & .werk-card{
        background-color: $cardgray;
        width: 60%;
        margin: 0 auto;
        padding: 20px;
        border-radius: 60px;
        & > p{
            color: $cardblack;
            line-height: 25px;
            margin-top: 25px;
            padding-bottom: 25px;
        }
    }
}