@font-face {
    font-family: Impact;
    src: url(../fonts/impact.ttf);
}

@font-face {
    font-family: Akzidenz Regular;
    src: url(../fonts/Akzidenz-grotesk-regular.ttf);
}

@font-face {
    font-family: Akzidenz Bold;
    src: url(../fonts/Akzidenz-grotesk-bold.ttf);
}