.header{
    text-align: center;
    height: 100vh;
    background-image: url(../img/header_back.jpg);
    background-size: 100vw 100vh;
    &__titel{
        font-size: 150px;
        margin: 0;
        padding-top: 15vh;
        background: none;
    } &__description{
        width: 58vw;
        margin: 1.5vh auto;
        font-size: 19.5px;
        line-height: 35px;
    } &__button{
        width: 28vw;
        height: 150px;
        border-radius: 100px;
        border: none;
        box-shadow: 11px 14px 0px rgba(26, 26, 26, .97)!important;
        cursor: pointer;
        font-family: Impact;
        font-size: 80px;
        text-transform: uppercase;
        margin: 30px;
        margin-top: 8.5vh;
        &:focus{
            outline: none;
        } & .artiest{
            background: $purple;
        } & .start{
            background: $darkblue;
        }
    }
}

.artiest{
    background-color: $purple;
}

.start{
    background-color: $darkblue;
}

h1{
    font-family: Impact;
    font-weight: 100;
}