@import 'vars';
@import 'fonts';

*{
    margin: 0;
    padding: 0;
    font-size: Impact;
    color: $white;
}

body, html{
    overflow: hidden
}

@import 'loader';
@import 'header';
@import 'carousel';
@import 'melody';
@import 'virtualroom';
@import 'modal';